$alkali-metal: #8a4545;
$alkaline-earth-metal: #4D4341;
$actinide: #3B2E48;
$lanthanide: #453F60;
$transition-metal: #384357;
$post-transition-metal: #28514B;
$metalloid: #29455D;
$nonmetal: #2F325F;
$halogen: #535482;
$noble-gas: #523C6D;
$unknown: #ffffff;
